<div id="share-buttons">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ request.get_host }}{{ article.get_absolute_url }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ request.get_host }}{{ article.get_absolute_url }}&amp;title={{ article.title|urlencode }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>

    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ request.get_host }}{{ article.get_absolute_url }}&amp;title={{ article.title|urlencode }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ request.get_host }}{{ article.get_absolute_url }}&amp;text={{ article.title|urlencode }}&amp;hashtags=upvote.dk" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>