language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
# command to install dependencies
install:
  - pip install -r requirements.txt
  - python manage.py migrate

before_script:
  - mysql -e 'create database news;'

# Get mysql
services:
  - mysql

# command to run tests
script: python manage.py test