language: python
python:
  - "3.5"
  - "3.5-dev" # 3.5 development branch
# command to install dependencies
install:
  #- pip install -r requirements.txt

before_script:
  - mysql -e 'create database news;'
  #- python manage.py migrate

# Get mysql
services:
  - mysql

# command to run tests
script:
  - python
  # - python manage.py test

