body {
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #FFFFFF;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.navbar {
    position: relative;
    min-height: 75px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -100px !important;
    float: left;
    height: 50px;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default {

    background-color: #FFFFFF;
    border-color: #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    line-height: 6.5rem;

}

.navbar-default .navbar-nav>li>a {
    color: #333;
}

.navbar-default .navbar-nav > .active > a {
    color: #157533;
    font-weight: 500;


}

.navbar-brand>img {
    display: block;
    height: 40px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

    background-color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

    background-color: #FFFFFF;
}
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;

}

.navbar-default .navbar-brand {
    color: black;
    font-weight: 500;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav > li.disabled > a {
    color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}

.nav>li {
    position: relative;
    display: block;

}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: black;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-color: #fff
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.panel-body{
    padding-left: 0px;
    padding-right: 0px

}

.left-image {
    padding-bottom: 10px;

}

.top-forside-rubrik{

    font-family: 'Montserrat', serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;

}

.top-forside-manchet{
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
    font-weight: lighter;

}

.forside-rubrik{

    font-family: 'Montserrat', serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;

}

.forside-manchet{
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    font-weight: lighter;

}

.rubrik {

    font-family: 'Montserrat', serif;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 1.5;

}

.article-lead{

    margin-bottom: 25px;
    margin-top: 10px;
}

.article-body-text{
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.recommended-rubrik{

    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;

}

.time {

    color: #666;
    font-size: 14px;

}

a {

    color: #000;
}

.banner{

    padding-left: 2%;

}


