{% extends 'blog/base/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Banner 930x180 -->
                    <img class="img-responsive" src="http://placehold.it/930x180">
                    <hr>
                    <!-- Top artikel -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <img class="img-responsive left-image" src="{% static 'blog/img/placeholder.png' %}">
                                </div>
                                <div class="col-sm-12 col-md-6" style="">
                                    <p class="time">10-02-2015</p>
                                    <div class="top-forside-rubrik">
                                        <a href="article.html"><p>Hvis du skal vise, at du har følelser for ham, skal du ikke gøre dette</p></a>
                                    </div>
                                    <div class="top-forside-manchet">
                                        <p>Der er nogle ting, du helt sikkert har lyst til at gøre, når du har et kæmpe crush. Problemet er bare, at nogle af tingene får dig til at virke skør. Hold dig fra de her ting:</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">


                {% for article in articles|slice:":3" %}
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-thumbnail">
                                <a href="{{ article.get_absolute_url }}"> <img class="img-responsive" src="{{ article.get_cover_photo }}" alt=""/></a>
                            </div>
                            <div>↑{{ article.ups }}|{{ article.downs }}↓</div>
                            <div class="panel-body">
                                <p class="time">{{ article.published_at }}</p>
                                <div class="forside-rubrik">
                                    <a href="{{ article.get_absolute_url }}"><p>{{ article.title }}</p></a>
                                </div>
                                <div class="forside-manchet">
                                    <p>{{ article.lead }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                        <!-- Banner 930x180 -->
                        <hr>
                        <img class="img-responsive banner" src="http://placehold.it/930x180">
                        <hr>
                    {% endif %}
                {% endfor %}


            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="text-center">Seneste nyt</h1>
                    <br>
                    {% for article in latest_articles %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="img-responsive left-image" src="{{ article.get_cover_photo }}">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="time">{{ article.published_at }}</p>
                                        <div class="forside-rubrik">
                                            <a href="{{ article.get_absolute_url }}"><p>{{ article.title }}</p></a>
                                        </div>
                                        <div class="forside-manchet">
                                            <p>{{ article.lead }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="col-sm-4">
                    <!-- Banner 300x250 -->
                    <img class="img-responsive" src="http://placehold.it/300x250">
                    <br>
                    <!-- Banner 300x250 -->
                    <img class="img-responsive" src="http://placehold.it/300x250">

                </div>
            </div>

        </div>
    </div>
{% endblock %}
