{% extends 'blog/base/base.html' %}

{% load staticfiles %}
{#{% load widget_tweaks %}#}


{% block content %}


    <!-- Top banner -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <img class="img-responsive" src="http://placehold.it/930x180">
            <hr>
        </div>
    </div>

    <!-- share and upvote buttons -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <!-- Upvote buttons-->
            <div>
                <button type="button" class="btn btn-default upvote" id="upvote" onclick="upvote()"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default downvote" id="downvote" onclick="downvote()"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
            </div>
            {% include 'blog/partials/share.html' %}
            <br>
        </div>
    </div>

    <!-- Content -->
    <div class="row">
        <div class="col-sm-10 col-md-6 col-sm-offset-1">
            <div>{{ article.rank }}</div>

            <!-- Image -->
            <img class="img-responsive" src="{{ article.get_cover_photo }}" alt="">

            <!-- Title -->
            <h1 class="rubrik">{{ article.title }}</h1>
            <h3 class="article-lead">{{ article.lead }}</h3>
            <p>{{ article.body|safe }}</p>
            <br>
        </div>
    </div>

    <!-- share and upvote buttons -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div>
                <button type="button" class="btn btn-default upvote" id="upvote" onclick="upvote()"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default downvote" id="downvote" onclick="downvote()"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
            </div>
            {% include 'blog/partials/share.html' %}
            <br>
        </div>
    </div>

    <!-- banner -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <hr>
            <img class="img-responsive" src="http://placehold.it/930x180">
            <hr>
        </div>
    </div>

    <!-- recommended articles -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <h2>Se også</h2>
            <br>
            <div class="row">
                {% for related_article in top_articles %}
                    <div class="col-sm-3 col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-thumbnail">
                                <a href="#"> <img class="img-responsive" src="{{ related_article.get_cover_photo }}" alt=""/></a>
                            </div>
                            <div class="panel-body" >
                                <div class="recommended-rubrik">
                                    <a href="#"><p>{{ related_article.title }}</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>

        function upvote() {
            $('.upvote').addClass('active');
            $('.downvote').removeClass('active');
        }

        function downvote() {
            $('.upvote').removeClass('active');
            $('.downvote').addClass('active');
        }

        function setInitialVote() {
            console.log('Setting innitial fingerprint');
            $.ajax({
                url: '/stem/status/{{ article.id }}/' + Cookies.get('upvote')
            }).done(function(data){
                console.log(data);
                if(data == true){ // upvoted
                    upvote();
                }
                else if (data == false){ // downvoted
                    downvote();
                }
            });
        }

        $('#upvote').on('click', function(){

            $.ajax({
                url: '/stem/{{ article.id }}/1/' + Cookies.get('upvote'),
            }).done(function(data){
                console.log(data);
            });

        });

        $('#downvote').on('click', function(){
            $.ajax({
                url: '/stem/{{ article.id }}/0/' + Cookies.get('upvote'),
            }).done(function(data){
                console.log(data);
            });
        });

        window.onload = setInitialVote();

    </script>

{% endblock %}
