{% extends 'blog/base/base.html' %}

{% load staticfiles %}
{#{% load widget_tweaks %}#}


{% block content %}


    <!-- Top banner -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <img class="img-responsive" src="http://placehold.it/930x180">
            <hr>
        </div>
    </div>

    <!-- share buttons -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div id="share-buttons">
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>

                <!-- Reddit -->
                <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
                </a>

                <!-- Tumblr-->
                <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
                </a>

                <!-- Twitter -->
                <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
            </div>
            <br>
        </div>
    </div>

    <!-- Content -->
    <div class="row">
        <div class="col-sm-10 col-md-6 col-sm-offset-1">

            <!-- Image -->
            <img class="img-responsive" src="{{ article.get_cover_photo }}" alt="">

            <!-- Title -->
            <h1 class="rubrik">{{ article.title }}</h1>
            <h3>{{ article.lead }}</h3>
            <p>{{ article.body|safe }}</p>
            <br>
        </div>
    </div>

    <!-- share buttons -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div id="share-buttons">
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>

                <!-- Reddit -->
                <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
                </a>

                <!-- Tumblr-->
                <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
                </a>

                <!-- Twitter -->
                <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
            </div>
            <br>
        </div>
    </div>

    <!-- banner -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <hr>
            <img class="img-responsive" src="http://placehold.it/930x180">
            <hr>
        </div>
    </div>

    <!-- recommended articles -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <h2>Se også</h2>
            <br>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#"> <img class="img-responsive" src="placeholder.png" alt=""/></a>
                        </div>
                        <div class="panel-body" >
                            <div class="recommended-rubrik">
                                <a href="#"><p>Artist Mickalene Thomas Is Bringing Black Women into the Canon</p></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#"> <img class="img-responsive" src="placeholder.png" alt=""/></a>
                        </div>
                        <div class="panel-body" >
                            <div class="recommended-rubrik">
                                <a href="#"><p>Artist Mickalene Thomas Is Bringing Black Women into the Canon</p></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#"> <img class="img-responsive" src="placeholder.png" alt=""/></a>
                        </div>
                        <div class="panel-body" >
                            <div class="recommended-rubrik">
                                <a href="#"><p>Artist Mickalene Thomas Is Bringing Black Women into the Canon</p></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#"> <img class="img-responsive" src="placeholder.png" alt=""/></a>
                        </div>
                        <div class="panel-body" >
                            <div class="recommended-rubrik">
                                <a href="#"><p>Artist Mickalene Thomas Is Bringing Black Women into the Canon</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
